*{
  margin: 0;
 padding: 0;
 box-sizing: border-box;
}

  body {

 
 
min-height: 100%;
 display: table;
 justify-content: center;
 align-items: center;
background-image: url(img/gradient.jpeg)
 

 

   
  
 }
/*page index********/
nav{
  width: 1200px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  line-height: 90px;
 
}
nav a {
  font-size: 70px;
}
 .home{
  width: 100%;
  height: auto;
   display: flex;
    
    justify-content: space-between;
    align-items: center;
    
   
}
.fee{
  margin-top: 30px;
 
}


.bloc{
   display: flex;
  justify-content: center;
  align-items: center; 
    
}
.bloc h1{
  font-size: 200px;
  
}
.container-lune{
  width: 100%;
  
  margin-left: -150px;
  margin-top: 350px;
  
}
/* page presentation**********/
.main-presentation{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.text-presentation{

  margin-top: 250px;
  height: 500px;
  display: flex;
  align-items: center;
}
.text-presentation img{
  margin: 70px;
  float: right;
  shape-outside: circle();
}
.container-media{
  width: 1200px;
  margin-top: 800px;
  display: flex;
  align-items: center;
  justify-content: center;

  
}
.text-consultation{
  width: 1000px;
 
 
}