*{
  margin: 0;
 padding: 0;
 box-sizing: border-box;
}

  body {

 
 
min-height: 100vmin;
 display: table;
 justify-content: center;
 align-items: center;
background-image: url(img/gradient.jpeg)
 

 

   
  
 }
/*page index********/
 .home{
  width: 100%;
  height: auto;
   display: flex;
    
    justify-content: space-between;
    align-items: center;
    
   
}
.fee{
 
}

nav{
  width: auto;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  line-height: 90px;
 
}
nav a {
  font-size: 70px;
}

.bloc{
   display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 20px;
  
  
 
  
}
.bloc h1{
  font-size: 100px;
  
}
.container-lune{
  width: 100vh;
  height: auto;
  margin-left: -150px;
  margin-top: -150px;
  display: flex;
  
  align-items: flex-start;
  
  
}
