@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 

  /* background: rgb(224, 238, 185); */
  background: #dad299; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b0dab9,
    #dad299
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b0dab9,
    #dad299
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 
  font-family: Montserrat, Helvetica, sans-serif;
}


nav {
  background: rgb(224, 238, 185);
  margin-top: 0;
  position: relative;

  z-index: 100;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.4s 1.6s ease-out forwards;
}

nav a {
  text-decoration: none;
  font-size: 22px;
  padding: 0 20px;
  color: #333;
  cursor: pointer;
}

.home {
  width: 100%;
  height: 100vh;
  min-height: 930px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc {
  width: 800px;
  height: 100%;
  /* background: rgb(204, 203, 203); */
  flex-shrink: 0;
  padding: 20px 20px 130px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.fee {
  width: 300px;
  height: 400px;
  opacity: 0;
  transform: translateX(30px);
  animation: apparition 0.8s 3s ease-out forwards;
  z-index: 2;
}
.bloc h1 {
  height: 500px;
  font-size: 120px;
  font-family: Playfair Display, arial;
  font-weight: 200;
  line-height: 1.5;
  margin-bottom: 20px;
}
span {
  font-family: "Berkshire Swash", cursive;
}

.bloc h1 span {
  display: inline-block;
  opacity: 0;
  display: flex;
  transform: translateY(-30px);
}
.bloc h1 > span:nth-child(1) {
  animation: apparition 0.8s 0.2s ease-out forwards;
}
.bloc h1 > span:nth-child(2) {
  animation: apparition 0.8s 0.4s ease-out forwards;
}
.bloc h1 > span:nth-child(3) {
  animation: apparition 0.8s 0.6s ease-out forwards;
}

.bloc p {
  font-size: 25px;
  position: relative;
  left: 10px;
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.8s 0.7s ease-out forwards;
}
.nav-anim {
  background-color: #333;
  color: antiquewhite;
  transition: all 0.3s ease-in-out;
}

.container-lune {
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -400px;
}

.lune {
  position: absolute;
  z-index: 0;

  opacity: 0;
  transform: scale(0.5);
  animation: apparition 2s 0.7s ease-out forwards;
}

/*********** page présentation************/

.main-presentation{

 

}
.presentation {
  height: 70vh;
  display: flex;
}
.text-presentation {
  
  font-family: 'Dancing Script', cursive;
  padding: 20px;
  font-size: 50px;
  margin-top: 70px;
  display: flex;
  font-weight: 200;

  
}

.text-presentation img {
  border-radius: 10%;
   float: right;
  shape-outside: circle();
  margin:50px;
  
}



.container-media {
  width: 100%;
  font-family: "Great Vibes", cursive;
  padding: 20px;
  font-size: 50px;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

table {
  border-spacing: 50px 1rem;
}

.facebook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3b5998;
  height: 700px;
  margin-left: 300px;
}
/* page des tarifs */

.container-title {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 70px;
  font-family: "Great Vibes";
}
.table-tarif {
  width: 100%;
  font-size: 30px;
  font-family: "Great Vives", cursive;
  display: flex;
  justify-content: center;
}
.entete {
  font-size: 50px;
  font-family: "Great Vives", cursive;
  text-decoration: underline;
}

/**********page contact**********/
.contact{
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;;
}
.box{
  width: 500px;
  height: auto;
  padding: 25px;
  background: #f1f1f1;
  border-radius: 20px;
}
.box h3 strong{

  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right,#b0dab9,#dad299);
  font-weight: 900;
  font-size: 35px;
  
}
.box h3{
  margin-bottom: 45px;
}

.formBloc .formGroupe{
  position: relative;
  display: flex;
  margin-bottom: 50px;
}

.formBloc .formGroupe label{
  position:absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 20px;
  transition: 0.4s ease-out;
}

.formBloc .formGroupe input{
  display: bloc;
  width: 100%;
  padding: 10px 0px;
  border:none;
  outline: none;
  background:none;
  border-bottom: 3px solid #aaa;
  color: #666;
  transition: 0.4s ease-out;
}
.formGroupe:nth-child(4){
  margin-bottom: 65px;
  justify-content: center;
}
.formBloc .formGroupe .btn{
  display: block;
  width: auto;
  padding: 15px 60px;
  border:3px solid #b0dab9;
  border-radius:999px ;
  background-image: linear-gradient(to right,transparent 50%,#b0dab9 50%,#dad299);
  background-size: 200%;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;


}
.formBloc .formGroupe .btn:hover{
  color: #f1f1f1;
  background-position: 100%;

}

.formBloc .formGroupe:focus-within label,
.formBloc.formGroupe.animation label{
  top: 0px;
  transform: translateY(-100%) ;
  color: #b0dab9;

}

.formBloc.formGroupe:focus-within input,
.formBloc.formGroupe.animation input{
 border-bottom-color: #b0dab9;

}


/***************/

@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}

.loading-anim {
  animation-play-state: paused !important;
}

.fade-in {
  opacity: 1;
}

